* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.leftbar {
  padding: 75px 152px;
  float: left;
  position: relative;
  width: 65%;
  height: 900px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

.leftbar label {
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 21px;
  color: #000000;
}

.leftbar label[for="name"] {
  position: absolute;
  left: 152px;
  top: 242px;
}

.leftbar label[for="DOB"] {
  position: absolute;
  left: 152px;
  top: 333px;
}

.leftbar label[for=phone] {
  position: absolute;
  left: 152px;
  top: 424px;
}

.leftbar label[for=address] {
  position: absolute;
  left: 152px;
  top: 515px;
}

.leftbar input {
  background: #F7F7F7;
  mix-blend-mode: normal;
  border-radius: 10px;
  border: none;
}

.leftbar input[id=firstName] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 302px;
  top: 232px;
}

.leftbar input[id=lastName] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 572px;
  top: 232px;
}

.leftbar input[id=DOB] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 302px;
  top: 323px;
}

.leftbar input[id=phone] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 302px;
  top: 414px;
}

.leftbar input[id=CITY] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 302px;
  top: 505px;
}

.leftbar input[id=STATE] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 572px;
  top: 505px;
}

.leftbar input[id=COUNTRY] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 302px;
  top: 596px;
}

.leftbar input[id=PINCODE] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: 41px;
  left: 572px;
  top: 596px;
}

.heading {
  position: absolute;
  width: 654px;
  height: 57px;
  left: 145px;
  top: 75px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
}

button[class=save] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border: none;
  position: absolute;
  width: 188.46px;
  height: 90px;
  left: 238px;
  top: 737px;
  background: #E6E6E6;
  border-radius: 15px;
}

button[class=save] svg {
  position: absolute;
  left: 15.92%;
  right: 65.27%;
  top: 33.33%;
  bottom: 33.33%;
}

button[class=save] span {
  position: absolute;
  width: 63px;
  height: 28px;
  left: 95.46px;
  top: 31px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: right;
  text-transform: uppercase;
  color: #000000;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

button[class=exit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border: none;
  position: absolute;
  width: 174px;
  height: 90px;
  left: 531.62px;
  top: 737px;
  background: #E6E6E6;
  border-radius: 15px;
}

button[class=exit] svg {
  position: absolute;
  left: 17.24%;
  right: 65.52%;
  top: 33.33%;
  bottom: 33.33%;
}

button[class=exit] span {
  position: absolute;
  width: 54px;
  height: 28px;
  left: 90px;
  top: 31px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.sidebar {
  position: relative;
  width: 35%;
  height: 900px;
  top: 0px;
  background: #F7F7F7;
  float: left;
}

.sidebar .input {
  position: absolute;
  width: auto;
  height: 80.4px;
  right: 20px;
  left: 22px;
  top: 43px;
  padding: 20px 0px;
  background: #E5E5E5;
  border-radius: 15px;
}

.sidebar .input input {
  position: absolute;
  width: 70%;
  height: 28px;
  right: 40px;
  left: 82.48px;
  top: 26.2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #B3B3B3;
  background: #E5E5E5;
  border: none;
}

.sidebar .input svg {
  position: absolute;
  left: 4.42%;
  right: 86.19%;
  top: 24.88%;
  bottom: 24.88%;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.sidebar users-in-search div {
  position: absolute;
  width: auto;
  height: 120px;
  left: 0px;
  right: 0px;
  top: 136px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.sidebar users-in-search div header {
  position: absolute;
  width: auto;
  left: 50px;
  right: 50px;
  top: 25px;
  bottom: 67px;
}

.sidebar users-in-search div header span {
  position: absolute;
  width: auto;
  height: 28px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
}

.sidebar users-in-search div header tools {
  display: inline;
  position: absolute;
  width: auto;
  height: 25px;
  right: 50px;
  top: 1px;
}

.sidebar users-in-search div header tools svg[id=edit] {
  position: absolute;
  width: 26.26px;
  height: 25px;
  left: 0px;
  top: 0px;
  color: #4C4C4C;
}

.sidebar users-in-search div header tools svg[id=delete] {
  position: absolute;
  width: 19.44px;
  height: 25px;
  left: 51.26px;
  top: 0px;
  color: #4C4C4C;
}

.sidebar users-in-search div description {
  position: absolute;
  width: auto;
  left: 50px;
  right: 50px;
  top: 63px;
  bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #808080;
}

.sidebar users-in-search .desktop_c2 {
  top: 228px;
}

.sidebar users-in-search .desktop_c3 {
  top: 320px;
}

.sidebar users-in-search .desktop_c4 {
  top: 412px;
}

.sidebar users-in-search .desktop_c5 {
  top: 504px;
}

.sidebar users-in-search .desktop_c6 {
  top: 596px;
}

.sidebar users-in-search .desktop_c7 {
  top: 688px;
}

.sidebar users-in-search .desktop_c8 {
  top: 780px;
}

@media screen and (max-width: 800px) {
  .leftbar, .sidebar {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}

body {
  -webkit-animation-name: diagonal-slide;
          animation-name: diagonal-slide;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes diagonal-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes diagonal-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Edit_user_data.css.map */
