body {
    animation-name: diagonal-slide;
animation-timing-function: ease-in-out;
animation-duration: 300ms;

  }
  
  @keyframes diagonal-slide {
  
    from {
      opacity: 0;
      
    }
  
    to {
      opacity: 1;
      
    }
  
  }
.leftbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 152px;
    
    position: absolute;
    width: 944px;
    height: 900px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    label{
        font-family: ABeeZee;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        display: flex;
        width: 100px;
        height: 21px;
        
        color: #000000;
        &[for="name"]{
            position: absolute;
            left: 152px;
            top: 242px;
        }
        &[for="DOB"]{
            position: absolute;
            left: 152px;
            top: 333px;
        }
        &[for=phone]{
            position: absolute;
            left: 152px;
            top: 424px;
        }
        &[for=address]{
            position: absolute;
            left: 152px;
            top: 515px;
        }
    }
    input{
        background: #F7F7F7;
        mix-blend-mode: normal;
        border-radius: 10px;
        border: none;
        
        &[id=firstName]{
            display: flex;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 302px;
            top: 232px;
        }
        &[id=lastName]{
            display: flex;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 572px;
            top: 232px;
        }
        &[id=DOB]{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 302px;
            top: 323px;
        }
        &[id=phone]{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 302px;
            top: 414px;
        }
        &[id=CITY]{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 302px;
            top: 505px;
        }
        &[id=STATE]{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 572px;
            top: 505px;
        }
        &[id=COUNTRY]{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 302px;
            top: 596px;
        }
        &[id=PINCODE]{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            position: absolute;
            width: 220px;
            height: 41px;
            left: 572px;
            top: 596px;
        }
    }
}
.heading{
    position: absolute;
width: 654px;
height: 57px;
left: 145px;
top: 75px;

font-family: ABeeZee;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 57px;
/* identical to box height */

// letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
button[class=save]{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border: none;
    position: absolute;
    width: 188.46px;
    height: 90px;
    left: 238px;
    top: 737px;

    background: #E6E6E6;
    border-radius: 15px;
    svg{
        position: absolute;
        left: 15.92%;
        right: 65.27%;
        top: 33.33%;
        bottom: 33.33%;
    }
    span{
        position: absolute;
        width: 63px;
        height: 28px;
        left: 95.46px;
        top: 31px;

        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        text-align: right;
        text-transform: uppercase;

        color: #000000;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        // margin: 30px 0px;
    }
}
button[class=exit]{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border: none;
    position: absolute;
    width: 174px;
    height: 90px;
    left: 531.62px;
    top: 737px;

    background: #E6E6E6;
    border-radius: 15px;
    svg{
        position: absolute;
        left: 17.24%;
        right: 65.52%;
        top: 33.33%;
        bottom: 33.33%;
    }
    span{
        position: absolute;
        width: 54px;
        height: 28px;
        left: 90px;
        top: 31px;

        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        text-transform: uppercase;

        color: #000000;


        /* Inside Auto Layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        // margin: 30px 0px;
    }
}
.sidebar{
    position: absolute;
    width: 496px;
    height: 900px;
    left: 944px;
    top: 0px;
    .input{
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 20px 0px;

        position: absolute;
        width: 452.48px;
        height: 80.4px;
        left: 22px;
        top: 43px;

        background: #E5E5E5;
        border-radius: 15px;
        input{
            position: absolute;
            width: 350px;
            height: 28px;
            left: 82.48px;
            top: 26.2px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            // margin: 20px 0px;

            color: #B3B3B3;
            background: #E5E5E5;
            border: none;
        }
        svg{
            position: absolute;
            left: 4.42%;
            right: 86.19%;
            top: 24.88%;
            bottom: 24.88%;

            // background: #808080;

            /* Inside Auto Layout */

            flex: none;
            order: 0;
            flex-grow: 0;
            // margin: 20px 0px;
        }
    }

    background: #F7F7F7;
    users-in-search{
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // padding: 25px 50px;
        
            position: absolute;
            width: 496px;
            height: 120px;
            left: 0px;
            top: 136px;
            // background-color: aqua;
        
        
            /* Inside Auto Layout */
        
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 10px;
            header{
                position: absolute;
                left: 50px;
                width: 396px;
                top: 25px;
                bottom: 67px;
                // background-color: blue;
                span{
                    // display: flex;
                    position: absolute;
                    width: 132px;
                    height: 28px;
                    left: 0px;
                    top: 0px;
        
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;//reduced by 2px
                    line-height: 28px;
                    text-transform: uppercase;
                    // background-color:yellow;
        
                    color: #333333;
                }
                tools{
                    display: inline;
                    position: absolute;
                    width: 70.71px;
                    height: 25px;
                    left: 325px;
                    top: 1px;  
                    // background-color: yellow;
                    svg[id=edit]{
                        position: absolute;
                        width: 26.26px;
                        height: 25px;
                        left: 0px;
                        top: 0px;
        
                        color: #4C4C4C;
                    } 
                    svg[id=delete]{
                        position: absolute;
                        width: 19.44px;
                        height: 25px;
                        left: 51.26px;
                        top: 0px;
        
                        color: #4C4C4C;
                    }
                }
            }
            description{
                position: absolute;
                width: 396px;
                left: 50px;
                // right: 10.08%;
                top: 63px;
                bottom: 25px;
        
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-transform: capitalize;
        
                color: #808080;
                // background-color: greenyellow;
            }
        }
        .desktop_c2{
            top: 228px;
        }
        .desktop_c3{
            top: 320px;
        }
        .desktop_c4{
            top: 412px;
        }
        .desktop_c5{
            top: 504px;
        }
        .desktop_c6{
            top: 596px;
        }
        .desktop_c7{
            top: 688px;
        }
        .desktop_c8{
            top: 780px;
        }
    }
    

}
