* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar {
  position: relative;
  width: 35%;
  height: 900px;
  top: 0px;
  background: #F7F7F7;
  float: left;
}

.sidebar .input {
  position: absolute;
  width: auto;
  height: 80.4px;
  right: 20px;
  left: 22px;
  top: 43px;
  padding: 20px 0px;
  background: #E5E5E5;
  border-radius: 15px;
}

.sidebar .input input {
  position: absolute;
  width: 70%;
  height: 28px;
  right: 40px;
  left: 82.48px;
  top: 26.2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #B3B3B3;
  background: #E5E5E5;
  border: none;
}

.sidebar .input svg {
  position: absolute;
  left: 4.42%;
  right: 86.19%;
  top: 24.88%;
  bottom: 24.88%;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.sidebar users-in-search div {
  position: absolute;
  width: auto;
  height: 120px;
  left: 0px;
  right: 0px;
  top: 136px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.sidebar users-in-search div header {
  position: absolute;
  width: auto;
  left: 50px;
  right: 50px;
  top: 25px;
  bottom: 67px;
}

.sidebar users-in-search div header span {
  position: absolute;
  width: auto;
  height: 28px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333333;
}

.sidebar users-in-search div header tools {
  display: inline;
  position: absolute;
  width: auto;
  height: 25px;
  right: 50px;
  top: 1px;
}

.sidebar users-in-search div header tools svg[id=edit] {
  position: absolute;
  width: 26.26px;
  height: 25px;
  left: 0px;
  top: 0px;
  color: #4C4C4C;
}

.sidebar users-in-search div header tools svg[id=delete] {
  position: absolute;
  width: 19.44px;
  height: 25px;
  left: 51.26px;
  top: 0px;
  color: #4C4C4C;
}

.sidebar users-in-search div description {
  position: absolute;
  width: auto;
  left: 50px;
  right: 50px;
  top: 63px;
  bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #808080;
}

.sidebar users-in-search .desktop_c2 {
  top: 228px;
}

.sidebar users-in-search .desktop_c3 {
  top: 320px;
}

.sidebar users-in-search .desktop_c4 {
  top: 412px;
}

.sidebar users-in-search .desktop_c5 {
  top: 504px;
}

.sidebar users-in-search .desktop_c6 {
  top: 596px;
}

.sidebar users-in-search .desktop_c7 {
  top: 688px;
}

.sidebar users-in-search .desktop_c8 {
  top: 780px;
}

@media screen and (max-width: 800px) {
  .view_user, .sidebar {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.view_user {
  position: relative;
  width: 65%;
  height: 900px;
  left: 0px;
  top: 0px;
  float: left;
}

.view_user .user_profile {
  position: absolute;
  width: 654px;
  height: 296px;
  left: 145px;
  top: 211px;
}

.view_user .user_profile .username {
  position: absolute;
  width: 376px;
  height: 76px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail {
  position: absolute;
  width: 654px;
  height: 170px;
  left: 0px;
  top: 126px;
}

.view_user .user_profile .user_detail .user_dob {
  position: absolute;
  width: 440px;
  height: 28px;
  top: 0px;
}

.view_user .user_profile .user_detail .user_dob .dob {
  position: absolute;
  width: 53px;
  height: 28px;
  left: 0px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_dob .semic {
  position: absolute;
  width: 8px;
  height: 28px;
  left: 132px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_dob .value {
  position: absolute;
  width: 278px;
  height: 28px;
  left: 162px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_phone {
  position: absolute;
  width: 364px;
  height: 28px;
  top: 71px;
}

.view_user .user_profile .user_detail .user_phone .phone {
  position: absolute;
  width: 85px;
  height: 28px;
  left: 0px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_phone .semic {
  position: absolute;
  width: 8px;
  height: 28px;
  left: 132px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_phone .value {
  position: absolute;
  width: 202px;
  height: 28px;
  left: 162px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_address {
  position: absolute;
  width: 654px;
  height: 28px;
  top: 142px;
}

.view_user .user_profile .user_detail .user_address .address {
  position: absolute;
  width: 112px;
  height: 28px;
  left: 0px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_address .semic {
  position: absolute;
  width: 8px;
  height: 28px;
  left: 132px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

.view_user .user_profile .user_detail .user_address .value {
  position: absolute;
  width: 492px;
  height: 28px;
  left: 162px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.view_user button[class=Back] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  position: absolute;
  width: 155px;
  height: 76px;
  left: 52px;
  top: 53px;
  background: #F7F7F7;
  border-radius: 20px;
}

.view_user button[class=Back] svg {
  position: absolute;
  left: 16.13%;
  right: 67.74%;
  top: 33.55%;
  bottom: 33.55%;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Back] span {
  position: absolute;
  width: 55px;
  height: 26px;
  left: 75px;
  top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  position: absolute;
  width: 917.1px;
  height: 190px;
  left: 2px;
  top: 705px;
}

.view_user button[class=Left] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  position: absolute;
  width: 200.29px;
  height: 90px;
  left: 50px;
  top: 50px;
  background: #E6E6E6;
  border-radius: 15px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Left] svg {
  position: absolute;
  left: 14.98%;
  right: 67.4%;
  top: 33.33%;
  bottom: 33.33%;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Left] span {
  position: absolute;
  width: 75px;
  height: 28px;
  left: 95.29px;
  top: 31px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Edit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  position: absolute;
  width: 196.51px;
  height: 90px;
  left: 360.29px;
  top: 50px;
  background: #E6E6E6;
  border-radius: 15px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Edit] svg {
  position: static;
  left: 15.27%;
  right: 68.7%;
  top: 33.33%;
  bottom: 33.33%;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 30px 0px;
}

.view_user button[class=Edit] span {
  position: absolute;
  width: 75px;
  height: 28px;
  left: 91.51px;
  top: 31px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Right] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  position: absolute;
  width: 200.29px;
  height: 90px;
  left: 666.81px;
  top: 50px;
  background: #E6E6E6;
  border-radius: 15px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Right] svg {
  position: absolute;
  left: 14.98%;
  right: 67.4%;
  top: 33.33%;
  bottom: 33.33%;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.view_user button[class=Right] span {
  position: absolute;
  width: 75px;
  height: 28px;
  left: 95.29px;
  top: 31px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

body {
  -webkit-animation-name: diagonal-slide;
          animation-name: diagonal-slide;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes diagonal-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes diagonal-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=view_user_data.css.map */